:root {
  --ebony-clay: #22223b;
  --tealish-blue: #4a4e69;
  --mountain-mist: #9a8c98;
  --pinkish-gray: #c9ada7;
  --dawn-pink: #f2e9e4;
  --border-radius: 8px;
  --body-padding: 16px;
  --section-padding: 16px 32px;
}
